<?xml version="1.0"?>
<model>
  <name>Fighter FW</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Gaofeng Su</name>
   <email>koufongso@berkeley.edu</email>
  </author>

  <description>
    This is a model of a fighter 4+1 VTOL (designed and manufactured by Makeflyeasy).
  </description>
</model>
