<?xml version="1.0"?>
<model>
  <name>Supernal VTOL</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Andrew Park</name>
   <email>jungho.park@berkeley.edu</email>
  </author>

  <description>
    This is a model of custom Supernal VTOL from standard VTOL quad plane.
  </description>
</model>
